
main h1{
	display: none;
}
main .products{
	padding: 40px 0px;
}
main .products hr{
	border-color: #eee;
	margin-bottom: -12px;
	width: 50%;
}

main .products h2{
	text-align: center;
	text-transform: uppercase;
	background-color: white;
	width: 30%;
	margin: 0 auto;
	margin-bottom: 20px;
}
main .products article{
	border: 4px solid #ebebeb;
	width: 29%;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	float: left;
}

main .products  article:nth-child(2){
      margin: 0 6%;
}



main .products article .precio{
	font-weight: 700;
	margin: 7px 0px;
	font-size: 120%;
}
main .products h3{
	font-weight: 400;
}

main .products article .descuento {
	background-color: #f44d55;
	color: white;
	font-weight: 700;
	padding: 10px;
	border-left: 4px solid #fe0000;
	width: 85px;
	position: absolute;
	top: 25px;
	left: -4px;
}
img {
	height: auto;
	width: 100%;
}

main .marcas{
	margin: 50px auto;
}
main .marcas .brand{
	  width: 15%;
	  border: 4px solid #ebebeb;
	  margin: 0 6.25% 0 0;
	  float: left;
}

main .marcas .brand:last-child{
	margin-right: 0px;
}

